doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  
  body
    div(class='container-fluid')
      block topbar
       
        <div class="page">
          <div class="page__demo">
            
            <nav class="menu">
              <ul class="menu__list">
                <li class="menu__group"><a class="navbar-brand" href="/catalog">Book Review</a></li>
                <li class="menu__group"><a href="/catalog" class="menu__link">Home</a></li>
                <li class="menu__group"><a href="/catalog/authors" class="menu__link">Authors</a></li>
                <li class="menu__group"><a href="/catalog/genres" class="menu__link">Genres</a></li>
                <form action="/catalog" method="GET" class="form-inline my-2 my-lg-0">
                  <div class="form-group">
                    <input class="form-control mr-sm-2"  type="text" name="search" placeholder="Search" aria-label="Search">
                    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
                  </div>
                </form>
              </ul>
            </nav>
          </div>
        </div>

  
    div(class='title')
      block title
    div(class='content')
      block content
    div(class='another_content')
      block another_content
    div(class='footer')
      block footer
        <footer class="fixed_footer">
          <div class="content">
          </div>
        </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')